<div class="row">
    <div class="col-md-2">
        <p>Edycja pracownika</p>   
    </div>
</div>
<div class="row">
    <div class="col-md-1">  
        <p>{{employee.emp_id}}</p>
      </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="name-input" value="{{employee.emp_name}}" #empNameInput>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="name-input" value="{{employee.jobPosition.position_title}}" #empPositionInput>
    </div>
    <div class="col-md-3">
       <!-- <input type="text" class="form-control" id="name-input" value="{{employee.emp_hired}}" #empHiredInput> -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox"  checked="{{employee.emp_hired}}" id="flexCheckDefault" value="" >
            <label class="form-check-label" for="flexCheckDefault">
              Zatrudniony
            </label>
        </div>
    </div>
</div>
