<div >
    <div class="row">
        <div class="col-md-1">
            <label >Id</label> 
        </div>
        <div class="col-md-3">
            <label >Dane pracownika</label> 
        </div>
        <div class="col-md-3">
            <label >Stanowisko</label> 
        </div>
    </div>
    <div  >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success" type="submit" (click)="OnEditionEmployee()" >Edytuj</button> 
                    </div>
                    <div class="col-md-1">
                        <input type="number" class="form-control" id="clId-input"  #empIdInput > 
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="name-input" #empNameInput >
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <select class="form-select"  [ngModel]="jobPosition_id" (ngModelChange)="SelectedItem($event)">
                                <option *ngFor="let job of jobPositionList" [ngValue]="job.position_id">{{job.position_title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2" >
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked="true" id="flexCheckDefault" [(ngModel)]="empHiredInput" >
                            <label class="form-check-label" for="flexCheckDefault">
                              Zatrudniony
                            </label>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
    <br>
   
    <hr>
    <div class="row">
        <div class="col-md-1">
          <button class="btn btn-success" type="submit"(click)="NewEmployee()">Dodaj</button>
        </div>
    </div>
</div>
<hr>
<app-employee-list></app-employee-list>


