<div class="container">
    <div class="row">
        <div class="col-md-1">
            <label >Id</label> 
        </div>
        <div class="col-md-2">
            <label >Dane pracownika</label> 
        </div>
        <div class="col-md-2">
            <label >Stanowisko</label> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="number" class="form-control" id="clId-input"  [defaultValue]="0" > 
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="name-input" #empNameInput >
        </div>
        <div class="col-md-2">
            <div class="dropdown">
               <!-- <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    Dropdown button
                  </button>
                <ul class="dropdown-menu" *ngFor="let job of jobPositionList">
                    <li><a class="dropdown-item" href="#" >{{job.position_title}}}</a></li>
                </ul>-->
                <ul class="list-group" *ngFor="let job of jobPositionList">
                    <li class="list-group-item">{{job.position_title}}</li>
                </ul>
            </div>
           <!--<input type="text" class="form-control" id="sname-input" #empPositionInput>--> 
           
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" >
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" checked="true" id="flexCheckDefault" [(ngModel)]="empHiredInput" >
                <label class="form-check-label" for="flexCheckDefault">
                  Zatrudniony
                </label>
            </div>
        </div>
    </div>
    <br>
   
    <hr>
    <div class="row">
        <div class="col-md-1">
          <button class="btn btn-success" type="submit"(click)="NewEmployee()">Dodaj</button>
        </div>
    </div>
</div>
<hr>
<app-employee-list></app-employee-list>


