<div>
   <b> {{FormTittle}}</b>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <label >Podaj id</label> 
        </div>
        <div class="col-md-2">
            <label >Podaj imię</label> 
        </div>
        <div class="col-md-2">
            <label >Podaj nazwisko</label> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <input type="number" class="form-control" id="clId-input" [(ngModel)]="clId" [defaultValue]="0" >
            
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="name-input" #clNameInput >
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="sname-input" #clSNameInput>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
           <label > Podaj nr tel</label> 
        </div>
        <div class="col-md-2">
           <label> Opis</label> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" id="telNr-input" #clPhoneInput>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="desc-input" #clDescInput>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1">
          <button class="btn btn-success" type="submit"(click)="NewClient()">Dodaj</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary">Edytuj</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" [disabled]="clId < 1 " (click)="DeleteClient()">Usuń </button>
        </div>
    </div>
</div>
<hr>
<app-client-list></app-client-list>


