<div class="container">
    <div class="row">
        <div class="col-md-1">
            <label >Data rezerwacji</label> 
        </div>
        <div class="col-md-2">
            <label >Czas rezerwacji</label> 
        </div>
        <div class="col-md-1">
            <input type="text" class="form-control" id="clName"  [defaultValue]="0" > 
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="clSName"  >
        </div>      
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" id="res_date" #resDateInput >
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="res_time" #resTimeInput >
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li
                    class = "list-group"
                    
                ></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-1">
          <button class="btn btn-success" >Dodaj</button>
        </div>
    </div>
</div>
<hr>

